version: "2"
services:


  http-vnc:
    container_name: http-vnc
    restart: always
    image: consol/centos-xfce-vnc
    volumes:
      - ${DATADIR}/:/data
    ports:
      - "5901:5901"
      - "6901:6901"

  plex:
    container_name: plex
    restart: always
    image: linuxserver/plex
    network_mode: host
    environment:
      - VERSION=latest
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DATADIR}/media/data:/config
      - ${DATADIR}/media/tvseries:/data/tvshows
      - ${DATADIR}/media/movies:/data/movies
      - ${DATADIR}/plex/transcode:/transcode


  deluge-server:
    container_name: deluge-server
    image: linuxserver/deluge
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK_SET=<022>
      - TZ=${TZ}
    volumes:
      - ${DATADIR}/delugeconfig:/config
      - ${DATADIR}/media/data:/downloads
    mem_limit: 4096m


